Package:	bomberman
Version:	0.1-sdz
Section:	education
Priority:	optional
Architecture:	all
Maintainer:	<admin@bomberman.fr>
Description:	BomberExtended Distribution on Linux
Homepage:	https://prepintra.etna-alternance.net/
